*{
    box-sizing: border-box;
}
body{
    background: url(tausta.jpg);
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    color: #333;
    font-size: 13px;
    margin: 0;
}
input, select, button{
    font-family: 'Dosis', sans-serif;
    color: #333;
    font-size: 14px;
}
h3,h4{
    margin: 0;
}
.inner img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
:focus{
    outline: none;
}
.wrapper{
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner{
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;

}
.profile-pic-div{
    height: 200px;
    width: 200px;
    transform: translate(5%, 22%);
    border-radius: 50%;
    text-align: center;

}
#file{
    cursor: pointer;
}
.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

header {
    position: relative;
    z-index: 70;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 40px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
}

.logo h3 {
    color: white;
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}

.inner form{
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}
.inner h3{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
    color: #3c00a0;
}
.form-group{
    display: flex;
}
.form-group input{
    width: 50%;
}
.form-group input:first-child{
    margin-right: 25px;
}
.form-wrapper{
    position: relative;
}
.form-control{
    border: 1px solid #333;
    border: none;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
    height: 30px;
    padding-right: 0;
    margin-bottom: 25px;
}
label{
    display: block;
    width: 200px;
    background: #3c00a0;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    outline: 0;
}
input{
    display: none;
}
button{
    border: none;
    width: 164px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    font-size: 15px;
    background: #3c00a0;
    color: #fff;
    border-radius: 20px;
    border: 0;
    outline: 0;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 3px;
    height: 40px;

}
.logotext{
    font-size: 25px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;

}
@media (max-width: 767px){
    inner{
        display: block;
    }
    .inner .image-holder{
        width: 100%;
    }
    .inner form{
        width: 100%;
        padding: 40px 0 30px;
    }
    button{
        margin-top: 60px;
    }
}